stages:
  - static analysis
  - build
  - test
  - deploy

# CI variables
.variables:
  default_variables: &default_variables
    CMAKE_INSTALL_CACHE_DIR: "${CI_PROJECT_DIR}/.cache"
    CMAKE_BUILD_DIR: "${CI_PROJECT_DIR}/build"
    CMAKE_BUILD_TYPE: "Release"
    CXX: "g++"
    CC: "gcc"
    CMAKE_EXPORT_COMPILE_COMMANDS: "ON"
    HESTIA_PROJECT_VERSION: "${CI_NIGHTLY_VERSION}"
    HESTIA_BUILD_TESTS: "OFF"
    HESTIA_BUILD_DOCUMENTATION: "OFF"
    HESTIA_CODE_COVERAGE: "OFF"
    HESTIA_WITH_PHOBOS: "OFF"
    HESTIA_WITH_MOTR: "OFF"
    HESTIA_WITH_PROXYGEN: "OFF"
    HESTIA_TEST_REDIS: "OFF"
    MOTR_SRC_DIR: ""
    HESTIA_DEPS: "${CI_PROJECT_DIR}/infra/deps/rocky8"
    HESTIA_API_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}"
  nightly_variables: &nightly_variables
    <<: *default_variables
    HESTIA_BUILD_DOCUMENTATION: "ON"
    HESTIA_WITH_PHOBOS: "ON"
    HESTIA_WITH_MOTR: "ON"
    HESTIA_WITH_PROXYGEN: "ON"
    MOTR_SRC_DIR: "/cortx-motr"

# CI code snippets
.snippets:
  - &update_distro
    yum check-update -q || true;
    yum update -qy;
    yum install -qy epel-release;
    yum config-manager -q --set-enabled powertools;
  - &install_base_dependencies
    yum install -qy $(cat ${HESTIA_DEPS}/base);
    ${CI_PROJECT_DIR}/infra/scripts/bootstrap_cmake.sh $CMAKE_INSTALL_CACHE_DIR;
  - &install_phobos
    yum install -qy $(cat ${HESTIA_DEPS}/phobos);
    pip3 install -r ${CI_PROJECT_DIR}/test/e2e_tests/phobos_requirements.txt;
    export PHOBOS_SRC=/phobos; cd /;
    ${CI_PROJECT_DIR}/infra/scripts/build_phobos.sh ${CI_PROJECT_DIR}/infra/cmake/patches;
    export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64/phobos
  - &configure
    mkdir -p "${CMAKE_BUILD_DIR}"
    && pushd "${CMAKE_BUILD_DIR}"
    && (
      set -x;
      $CMAKE_INSTALL_CACHE_DIR/bin/cmake ${CI_PROJECT_DIR}
      -DCMAKE_BUILD_TYPE="${CMAKE_BUILD_TYPE}"
      -DCMAKE_EXPORT_COMPILE_COMMANDS="${CMAKE_EXPORT_COMPILE_COMMANDS}"
      -DCMAKE_CXX_COMPILER="${CXX}"
      -DCMAKE_PROJECT_VERSION="${HESTIA_PROJECT_VERSION}"
      -DHESTIA_BUILD_TESTS="${HESTIA_BUILD_TESTS}"
      -DHESTIA_TEST_REDIS="${HESTIA_TEST_REDIS}"
      -DHESTIA_BUILD_DOCUMENTATION="${HESTIA_BUILD_DOCUMENTATION}"
      -DCODE_COVERAGE="${HESTIA_CODE_COVERAGE}"
      -DHESTIA_WITH_PROXYGEN="${HESTIA_WITH_PROXYGEN}"
      -DHESTIA_WITH_PHOBOS="${HESTIA_WITH_PHOBOS}"
      -DHESTIA_WITH_MOTR="${HESTIA_WITH_MOTR}"
      -DMOTR_SRC_DIR="${MOTR_SRC_DIR}"
    )
    && popd
  - &build
    make -C "${CMAKE_BUILD_DIR}" -j$(nproc)
  - &test
    make -C "${CMAKE_BUILD_DIR}" CTEST_OUTPUT_ON_FAILURE=1 test -j$(nproc)

.cache:
  cmake_install_cache: &cmake_install_cache
    key: "cmake_3.26.3"
    paths:
      - .cache/cmake/

.artifacts:
  build_artifacts: &build_artifacts
    name:  "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
    paths:
      - build/
    expire_in: 30 min

.default_job: &default_job
  image: rockylinux:8
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
        && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "devel"
      when: on_success
    - if: $CI_PIPELINE_SOURCE == "push"
        && $CI_COMMIT_TAG
      when: never
    - if: $CI_PIPELINE_SOURCE == "push"
        && $CI_COMMIT_REF_NAME != "master"
        && $CI_COMMIT_REF_NAME != "devel"
      when: manual
    - when: never # Only run default pipeline to verify devel MRs
  tags:
    - docker
  variables:
    <<: *default_variables
  before_script:
    - *update_distro
    - *install_base_dependencies
  script:
    - *configure
    - *build
  cache:
    <<: *cmake_install_cache

Format:
  <<: *default_job
  stage: static analysis
  before_script:
    - *update_distro
    - yum install -qy $(cat ${HESTIA_DEPS}/format)
  script:
    - ./infra/scripts/run_format.sh
      && git status
      && git diff-index --quiet HEAD
      || { echo "This commit contains unformatted files! Run tools/run_format.sh to format them correctly."; false; }

Lint:
  <<: *default_job
  stage: static analysis
  variables:
    <<: *default_variables
    CMAKE_BUILD_TYPE: "Debug"
    CMAKE_EXPORT_COMPILE_COMMANDS: "ON"
    CXX: "clang++"
    CC: "clang"
    HESTIA_BUILD_TESTS: "ON"
  before_script:
    - *update_distro
    - *install_base_dependencies
    - yum install -qy $(cat ${HESTIA_DEPS}/lint)
    - *configure
    - make -C "${CMAKE_BUILD_DIR}" hestia_fetch_lint_dependencies -j$(nproc)
  script:
    - make -C "${CMAKE_BUILD_DIR}" hestia_check_tidy -j$(nproc)

Release:
  <<: *default_job
  stage: build
  variables:
    <<: *default_variables
    HESTIA_BUILD_DOCUMENTATION: "ON"
  script:
    - *configure
    - *build
    - make -C "${CMAKE_BUILD_DIR}" doxygen
    - make -C "${CMAKE_BUILD_DIR}" package
  artifacts:
    name: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
    paths:
      - ${CMAKE_BUILD_DIR}/*.rpm
    expire_in: 1 day

Unit_test:
  <<: *default_job
  stage: test
  dependencies:
    - Release
  variables:
    <<: *default_variables
    CMAKE_BUILD_TYPE: "Debug"
    CXX: "clang++"
    CC: "clang"
    HESTIA_BUILD_TESTS: "ON"
    HESTIA_CODE_COVERAGE: "ON"
    HESTIA_TEST_REDIS: "ON"
  before_script:
    - *update_distro
    - *install_base_dependencies
    - yum install -qy $(cat ${HESTIA_DEPS}/test)
  script:
    - *configure
    - *build
    - redis-server&
    - *test
#    - make -C "${CMAKE_BUILD_DIR}" ccov-hestia_unit_tests
#    - make -C "${CMAKE_BUILD_DIR}" ccov-report-hestia_unit_test

E2E_test:
  <<: *default_job
  stage: test
  dependencies:
    - Release
  before_script:
    - *update_distro
    - yum install -qy $(cat ${HESTIA_DEPS}/e2e_test);
    - pip3 install -r ${CI_PROJECT_DIR}/test/e2e_tests/requirements.txt;
  script:
    - python3 ${CI_PROJECT_DIR}/test/e2e_tests/run_e2e_tests.py --source_dir=${CI_PROJECT_DIR}
      --build_dir=${CMAKE_BUILD_DIR} --package_name=${CMAKE_BUILD_DIR}/hestia-${HESTIA_PROJECT_VERSION}-Linux.rpm

# Scheduled Builds
.nightly_snippets:
  - &install_motr
    ${CI_PROJECT_DIR}/infra/scripts/ci/install_motr.sh
  - &install_proxygen
    yum install -qy $(cat ${HESTIA_DEPS}/proxygen);

.default_nightly_job: &default_nightly_job
  <<: *default_job
  variables:
    <<: *nightly_variables
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
        && $CI_COMMIT_SHA != $CI_LAST_NIGHTLY_COMMIT_SHA
        && $CI_SCHEDULE_TYPE == "NIGHTLY"
      when: on_success
  before_script:
    - *update_distro
    - *install_base_dependencies
    - *install_phobos
    - *install_motr # dev only
    - *install_proxygen
  script:
    - *configure
    - *build
    - make -C "${CMAKE_BUILD_DIR}" package
    - make -C "${CMAKE_BUILD_DIR}" package_source
    # TODO: Build and upload docs

Nightly_build:
  <<: *default_nightly_job
  stage: build
  artifacts:
    name:  "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
    paths:
      - ${CMAKE_BUILD_DIR}/*.rpm
      - ${CMAKE_BUILD_DIR}/*.tar.gz
    expire_in: 1 hour

Nightly_unit_test:
  <<: *default_nightly_job
  stage: test
  variables:
    <<: *nightly_variables
    HESTIA_BUILD_TESTS: "ON"
    HESTIA_TEST_REDIS: "ON"
    HESTIA_BUILD_DOCUMENTATION: "OFF"
    HESTIA_WITH_MOTR: "OFF" # No real motr tests present at this time
  before_script:
    - *update_distro
    - *install_base_dependencies
    - *install_proxygen
    - *install_phobos
    - yum install -qy $(cat ${HESTIA_DEPS}/test)
  script:
    - *configure
    - *build
    - redis-server&
    - ${CI_PROJECT_DIR}/test/data/start_phobos_db.sh
    - *test


Nightly_E2E:
  <<: *default_nightly_job
  stage: test
  before_script:
    - *update_distro
    - *install_base_dependencies
    - yum install -qy $(cat ${HESTIA_DEPS}/e2e_test);
    - *install_phobos
    - *install_proxygen
    - pip3 install -r ${CI_PROJECT_DIR}/test/e2e_tests/requirements.txt;
  script:
    - python3 ${CI_PROJECT_DIR}/test/e2e_tests/run_e2e_tests.py
      --with_phobos --source_dir=${CI_PROJECT_DIR} --build_dir=${CMAKE_BUILD_DIR}
      --package_name=${CMAKE_BUILD_DIR}/hestia-${HESTIA_PROJECT_VERSION}-Linux.rpm

Nightly_deploy:
  <<: *default_nightly_job
  image: alpine:latest
  stage: deploy
  before_script:
    - apk add curl jq
  script:
    - ${CI_PROJECT_DIR}/infra/scripts/ci/nightly_deploy.sh
  artifacts:
    name: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
    paths:
      - ${CMAKE_BUILD_DIR}/*.rpm
      - ${CMAKE_BUILD_DIR}/*.tar.gz
    expire_in: 1 day

Nightly_cleanup:
  <<: *default_nightly_job
  image: alpine:latest
  stage: .post
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
        && $CI_COMMIT_SHA != $CI_LAST_NIGHTLY_COMMIT_SHA
        && $CI_SCHEDULE_TYPE == "NIGHTLY"
      when: on_failure
  before_script:
    - apk add jq curl
  script: # Stops repeat runs
    - 'curl --request PUT -H "PRIVATE-TOKEN: $(cat $CI_CUSTOM_JOB_TOKEN)"
      "$HESTIA_API_URL/variables/CI_LAST_NIGHTLY_COMMIT_SHA"
      --form "value=$CI_COMMIT_SHA"'

.master_build: &master_build
  <<: *default_nightly_job
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
        && $CI_PIPELINE_SOURCE == "push"
      when: on_success
  stage: build
  variables:
    <<: *nightly_variables
    HESTIA_PROJECT_VERSION: "${CI_NIGHTLY_VERSION}"
  after_script:
    - ${CI_PROJECT_DIR}/infra/scripts/ci/master_deploy.sh

Master_build:
  <<: *master_build
  after_script:
    - ${CI_PROJECT_DIR}/infra/scripts/ci/master_post_build.sh
  artifacts:
    name: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
    paths:
      - ${CMAKE_BUILD_DIR}/*.rpm
      - ${CMAKE_BUILD_DIR}/*.tar.gz
    expire_in: 1 week

Master_deploy_current_build:
  <<: *default_nightly_job
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
        && $CI_COMMIT_REF_NAME == "master"
        && $CI_SCHEDULE_TYPE == "DEPLOY_MASTER_PATCH"
        && $CI_PATCH_RELEASE_VERSION != $CI_NIGHTLY_VERSION
      when: on_success
  variables:
    <<: *nightly_variables
    HESTIA_PROJECT_VERSION: "${CI_PATCH_RELEASE_VERSION}"

Master_deploy_minor_build:
  <<: *default_nightly_job
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
        && $CI_COMMIT_REF_NAME == "master"
        && $CI_SCHEDULE_TYPE == "DEPLOY_MASTER_MINOR"
      when: on_success
  variables:
    <<: *nightly_variables
    HESTIA_PROJECT_VERSION: "${CI_MINOR_RELEASE_VERSION}"

Master_deploy_major_build:
  <<: *default_nightly_job
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
        && $CI_COMMIT_REF_NAME == "master"
        && $CI_SCHEDULE_TYPE == "DEPLOY_MASTER_MAJOR"
      when: on_success
  variables:
    <<: *nightly_variables
    HESTIA_PROJECT_VERSION: "${CI_MAJOR_RELEASE_VERSION}"