.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}