logger:
  syslog_only: {{ hestia_as_service }}
  active: true
  level: {{ hestia_verbosity }}

server:
  host_address: {{ inventory_hostname }}
  host_port: {{ hestia_server_port }}
  controller: true
  tag: controller_{{ inventory_hostname_short }}

tiers:
{% for tier in hestia_hsm_tiers%}
  - name: "{{ tier }}" 
{% endfor %}

key_value_store_client:
  client_type: redis
  config:
    backend_address: localhost
    backend_port: 6379