logger:
  syslog_only: true
  active: true
  level: warn

server:
  host: {{ inventory_hostname }}
  port: {{ hestia_server_port }}
  web_app: hestia::HsmService
  backend: hestia::Basic
  controller: false
  controller_address: {{ hestia_controller_address }}:{{ hestia_server_port }}
  tag: worker_{{ inventory_hostname_short }}

web_apps:
  - identitifier: hestia::HsmService
    interface: http

server_backends:
  - identifier: hestia::Basic

object_store_backends:
{% for backend in hestia_backends %}
  - backend_type: {{ backend.type }}
    tier_names:
{% for tier in hestia_hsm_tiers %}{% if tier.backend_type == backend.type %}
      - "{{tier.name}}"
{% endif %}{% endfor %}
    config: 
      {{ backend.config | to_nice_yaml(indent=2) }}
{% endfor %}
