logger:
  syslog_only: {{ hestia_as_service }}
  active: true
  level: {{ hestia_verbosity }}

server:
  host: {{ inventory_hostname }}
  port: {{ hestia_server_port }}
  web_app: hestia::HsmService
  backend: hestia::Basic
  controller: false
  controller_address: {{ hestia_controller_address }}:{{ hestia_server_port }}
  tag: {{ inventory_hostname_short }}

web_apps:
  - identitifier: hestia::HsmService
    interface: http

server_backends:
  - identifier: hestia::Basic

object_store_backends:
  {{ hestia_object_store_backends | to_nice_yaml(indent=2) | indent(width=2) }}